In [10]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import statsmodels.api as sm


# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# import as usual
#import functions

In [17]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split

In [12]:
import matplotlib.pyplot as plt
from seaborn import histplot, scatterplot, heatmap

In [14]:
seed = 42

In [2]:
# autoreload
%load_ext autoreload
%autoreload 2

In [9]:
nutrition = pd.read_csv('data/nutrition_physical_activity_and_obesity.csv')
nutrition.shape

(40096, 31)

In [15]:
nutrition.describe

<bound method NDFrame.describe of        YearStart  YearEnd LocationAbbr          LocationDesc  \
0           2019     2019           AK                Alaska
1           2019     2019           AZ               Arizona
2           2019     2019           DC  District of Columbia
3           2019     2019           IL              Illinois
4           2019     2019           MD              Maryland
...          ...      ...          ...                   ...
40091       2009     2009           NY              New York
40092       2003     2003           NH         New Hampshire
40093       2011     2011           NH         New Hampshire
40094       2011     2011           AR              Arkansas
40095       2015     2015           RI          Rhode Island

                                    Datasource                    Class  \
0      Youth Risk Behavior Surveillance System        Physical Activity
1      Youth Risk Behavior Surveillance System  Obesity / Weight Status
2      Youth Risk Behavior Surveillance System  Obesity / Weight Status
3      Youth Risk Behavior Surveillance System        Physical Activity
4      Youth Risk Behavior Surveillance System  Obesity / Weight Status
...                                        ...                      ...
40091  Youth Risk Behavior Surveillance System        Physical Activity
40092  Youth Risk Behavior Surveillance System  Obesity / Weight Status
40093  Youth Risk Behavior Surveillance System  Obesity / Weight Status
40094  Youth Risk Behavior Surveillance System    Fruits and Vegetables
40095  Youth Risk Behavior Surveillance System        Physical Activity

                                  Topic  \
0          Physical Activity - Behavior
1               Obesity / Weight Status
2               Obesity / Weight Status
3          Physical Activity - Behavior
4               Obesity / Weight Status
...                                 ...
40091      Physical Activity - Behavior
40092           Obesity / Weight Status
40093           Obesity / Weight Status
40094  Fruits and Vegetables - Behavior
40095      Physical Activity - Behavior

                                                Question  Data_Value_Unit  \
0      Percent of students in grades 9-12 who achieve...              NaN
1      Percent of students in grades 9-12 who have ob...              NaN
2      Percent of students in grades 9-12 who have ob...              NaN
3      Percent of students in grades 9-12 who partici...              NaN
4      Percent of students in grades 9-12 who have an...              NaN
...                                                  ...              ...
40091  Percent of students in grades 9-12 who achieve...              NaN
40092  Percent of students in grades 9-12 who have ob...              NaN
40093  Percent of students in grades 9-12 who have ob...              NaN
40094  Percent of students in grades 9-12 who consume...              NaN
40095  Percent of students in grades 9-12 who achieve...              NaN

      Data_Value_Type  ...                        GeoLocation  ClassID  \
0               Value  ...  (64.845079957001, -147.722059036)       PA
1               Value  ...      (34.86597028, -111.763811277)      OWS
2               Value  ...      (38.890371385, -77.031961127)      OWS
3               Value  ...      (40.485010283, -88.997710178)       PA
4               Value  ...      (39.290580964, -76.609260111)      OWS
...               ...  ...                                ...      ...
40091           Value  ...      (42.827001032, -75.543970427)       PA
40092           Value  ...       (43.655950113, -71.50036092)      OWS
40093           Value  ...       (43.655950113, -71.50036092)      OWS
40094           Value  ...      (34.748650124, -92.274490743)       FV
40095           Value  ...      (41.708280193, -71.522470314)       PA

      TopicID QuestionID  DataValueTypeID  LocationID  \
0         PA1       Q048            VALUE           2
1        OWS1       Q038            VALUE           4
2        OWS1       Q038            VALUE          11
3         PA1       Q049            VALUE          17
4        OWS1       Q039            VALUE          24
...       ...        ...              ...         ...
40091     PA1       Q048            VALUE          36
40092    OWS1       Q038            VALUE          33
40093    OWS1       Q038            VALUE          33
40094     FV1       Q021            VALUE           5
40095     PA1       Q048            VALUE          44

       StratificationCategory1            Stratification1  \
0               Race/Ethnicity                      Asian
1                        Total                      Total
2                        Total                      Total
3                        Grade                       10th
4               Race/Ethnicity            2 or more races
...                        ...                        ...
40091                   Gender                     Female
40092           Race/Ethnicity         Non-Hispanic White
40093           Race/Ethnicity  Hawaiian/Pacific Islander
40094                    Grade                       12th
40095                    Grade                        9th

      StratificationCategoryId1 StratificationID1
0                          RACE           RACEASN
1                           OVR           OVERALL
2                           OVR           OVERALL
3                         GRADE           GRADE10
4                          RACE         RACE2PLUS
...                         ...               ...
40091                       GEN            FEMALE
40092                      RACE           RACEWHT
40093                      RACE           RACEHPI
40094                     GRADE           GRADE12
40095                     GRADE           GRADE09

[40096 rows x 31 columns]>

In [16]:
nutrition.head(5)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2019,2019,AK,Alaska,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q048,VALUE,2,Race/Ethnicity,Asian,RACE,RACEASN
1,2019,2019,AZ,Arizona,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(34.86597028, -111.763811277)",OWS,OWS1,Q038,VALUE,4,Total,Total,OVR,OVERALL
2,2019,2019,DC,District of Columbia,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(38.890371385, -77.031961127)",OWS,OWS1,Q038,VALUE,11,Total,Total,OVR,OVERALL
3,2019,2019,IL,Illinois,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who partici...,NaN,Value,...,"(40.485010283, -88.997710178)",PA,PA1,Q049,VALUE,17,Grade,10th,GRADE,GRADE10
4,2019,2019,MD,Maryland,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have an...,NaN,Value,...,"(39.290580964, -76.609260111)",OWS,OWS1,Q039,VALUE,24,Race/Ethnicity,2 or more races,RACE,RACE2PLUS